body{
    display: flex;
    justify-content: center;
    margin: 20;
    padding: 20;
    background-color: darkslategrey;
    font-family: 'Roboto', sans-serif;
    
}

.block{
    display: flex;
    justify-content: space-around;
    background-color: rgb(217, 245, 245);
    width: 800px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}


img{
   
    width: 50px;
    background-color: rgb(217, 245, 245);
    opacity: .5;
}

h4{
    background-color: rgb(217, 245, 245);
    color: rgb(233, 150, 41);
    font-size: 15px;
    /* display: flex;
    justify-content: center; */
}

.line{
    
margin-top: 15px;
    height: 175px;
   background-color: black;
   width: 1px;
    display: inline-block;
    vertical-align: middle;
    opacity: .2;
    }

.element{
    /* display: flex;
    
    justify-content: center; */
    margin-top: 15px;
 
    margin-left: 25px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 155px;
    height: 185px;
    font-size: 12px;
    background-color: rgb(217, 245, 245);
}

.send{
    cursor: pointer;
    height: 30px;
    width: 86px;
    color: black;
    font-size: 13px;
    background-color: rgb(233, 150, 41);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    border-radius: 3px;
 }